<div class="container">
    <div class="row d-flex justify-content-start">
        <h1 class="text-center mb-2">Best Rating</h1>
        {{#each movies}}
            <div class="col-sm-3">
                <div class="card p-2">
                    <img src={{this.img}} class="card-img-top" alt="{{this.title}}" width="">
                    <div class="card-body">
                        <h5 class="card-title text-center fw-bold">{{this.title}}</h5>
                        <hr/>
                        <p class="card-text">
                            <span class="fw-bold">Year:</span> {{this.year}},
                            <span class="fw-bold">Top:</span> {{this.topRank}},
                            <span class="fw-bold">Rating:</span> {{this.rating}}
                        </p>
                        <p class="card-text"><span class="fw-bold">Genres:</span> {{this.genres}}</p>
                        <a href="/movies/detail/{{this.id}}" class="btn btn-primary mx-auto d-block">More</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>