<div class="container">

    <div class="row d-flex justify-content-start">
        <h1 class="text-center mb-3">Search for title "{{titleSample}}"</h1>

        <p><span class="fw-bold"> Page Size: </span> {{pageSize}}</p>
        <div class="row d-flex justify-content-center">
            <nav aria-label="navigation d-flex justify-content-center">
                <ul class="pagination mx-auto">
                    <li class="page-item">
                        <a class="page-link" href="/movies/search?movieName={{titleSample}}&&page={{prevPage}}">Previous</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link active" href="/movies/search?movieName={{titleSample}}&&page={{page}}">{{page}}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="/movies/search?movieName={{titleSample}}&&page={{nextPage}}">{{nextPage}}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="/movies/search?movieName={{titleSample}}&&page={{nextPage}}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>

        {{#each movies}}
            <div class="col-sm-3">

                <div class="card m-2 p-2">
                    <img src={{this.img}} class="card-img-top" alt="{{this.title}}" width="">
                    <div class="card-body">
                        <h5 class="card-title text-center fw-bold">{{this.title}}</h5>
                        <hr/>
                        <p class="card-text">
                            <span class="fw-bold">Year:</span> {{this.year}},
                            <span class="fw-bold">Top:</span> {{this.topRank}},
                            <span class="fw-bold">Rating:</span> {{this.rating}}
                        </p>
                        <p class="card-text"><span class="fw-bold">Genres:</span> {{this.genres}}</p>
                        <a href="/movies/detail/{{this.id}}" class="btn btn-primary mx-auto d-block">More</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>